<div class="panel-header">
</div>

<div class="card" align="center">
    <div class="card-body">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title">Bienvenido a la aplicacion</h1>
          <img src="../../assets/img/procesos.png" class="responsive">
          <h6 class="card-subtitle mb-2 text-muted">Seleccione una opcion del menu</h6>
          <p class="card-text">O presione uno de los siguientes botones</p>
          <button type="button" class="btn btn-primary btn-round" (click)="procesos()">Procesos</button>
          <button type="button" class="btn btn-primary btn-round" (click)="memoria()">Monitor de memoria</button>
        </div>
      </div>
    </div>
  </div>
